<body>
  <div class='hero-unit'>
    Click and drag the smaller body to set its initial position.<br>
    Click elsewhere inside the window and drag to set initial velocity of orbit.  Release to start orbit.<br>
	A new body is generated which you can then repeat the process with.<br>

	Warning: Simulating multiple bodies simultaneously may overload lower end systems.
  </div>
  <div id='container'>
	<canvas id='imageView' width='1200' height='900'></canvas>
  </div>
</body>