<body>
  <div class='hero-unit'>
    Click inside the window and drag to set initial velocity of orbit.  Clicking and dragging again will provide initial velocity to a new orbit.<br>
	Warning: Generating multiple bodies may overload lower end systems.
  </div>
  <div id='container'>
	<canvas id='imageView' width='1200' height='900'></canvas>
  </div>
</body>