<body>
  <div class='hero-unit'>
    Click and drag the smaller body to set its initial position.<br>
    Click elsewhere inside the window and drag to set initial velocity of orbit.  Release to start orbit.<br>
	A new body is generated which you can then repeat the process with.<br>

	Warning: Simulating multiple bodies simultaneously may overload lower end systems.<br>
	For optimal performance, turn off tracing.
  </div>
  <div id='container'>
	<canvas id='imageView' width='1000' height='800'></canvas>
  </div>
  <button class='btn btn-primary' id='reset'>Reset</button>
  <button class='btn btn-primary' id='trace-reset'>Reset Tracers</button>
  <button class='btn btn-primary' id='trace-toggle'>Toggle Trace</button>
</body>