<h5>Not quite finished converting to run in a backbone environment.  Though this might be more fun as its impossible to lose.</h5>
<div>
<canvas width="800" height="600" id="canvas" class='hero-unit'>
</canvas>
</div>
