<div class='hero-unit'>
<h4>Who Am I?</h4>

<p>  I'm a web developer seeking employment, currently located in the San Francisco Bay Area. I've only recently discovered my passion for coding, but I am excited to see what I can do in this field. Each line of code is a new challenge, and even after I've solved a challenge, I find myself thinking about other ways I could have accomplished the same thing, and determining which was the best. It's this level of challenge and creativity, mixed in with good old fashioned logic and problem solving that I absolutely love.</p>

<br><p>  My education up to this point has been fairly schizophrenic. I started studying Mechanical Engineering at Arizona State University in 2006, but really had no idea what I actually wanted to do and bounced around for a bit after that. I've taken classes for anything from math and physics, to Emergency Medical Technician. I also worked a series of jobs during this time, mostly involving customer service or janitorial work, with two years of managerial experience for the United States Census Bureau and Delta Cleaning Services. I was still fairly unsure of my direction in life, and then I heard about App Academy.</p> 

<br><p>  An intriguing concept at first, I became genuinely excited the more work I did to prepare for it. The program was intense, but also one of the best experiences of my life. Its a great feeling to set such a lofty goal as learning to code in twelve weeks and then accomplishing it. And through that experience I've found how much I love coding. This is something that I can state with confidence I will enjoy doing as not only a job, but as a career.</p>
</div>