<div class='hero-unit'>
<img src='assets/self.jpg' alt=''>
<h4>Who Am I?</h4>

<p>  I'm a web developer seeking employment, currently located in the San Francisco Bay Area. 
I've only recently discovered my passion for coding, but I am excited to see what I can do in this field. 
Each line of code is a new challenge, and even after I've solved a challenge, 
I find myself thinking about other ways I could have accomplished the same thing, 
and determining which was the best. It's this level of challenge and creativity, 
mixed in with good old fashioned logic and problem solving that I absolutely love.</p>

<br><p>  My education up to this point has been fairly scattered. I've studied various topics, 
from Mechanical Engineering and Math, to Chemistry and Physics, and was even trained as an 
Emergency Medical Technician.  I've worked a series of filler jobs, but didn't until recently 
have any real direction. This was where I was at in my life when I heard about App Academy.</p> 

<br><p>  An intriguing concept at first, I became genuinely excited the more work I did to 
prepare for it. The program was intense, but also one of the best experiences of my life.
 It's a great feeling to set such a lofty goal as learning to code in twelve weeks and then 
 accomplishing it. And through that experience I've found how much I love coding. This is 
 something that I can state with confidence I will enjoy doing as not only a job, but as a career.</p>
</div>