<div class='hero-unit'>
<h3>Contact Information</h3>
<ul>
  <li>Phone: 503-884-9514</li>
  <li>E-mail: matthew.j.woodard88@gmail.com</li>
  <li><a href="http://www.linkedin.com/pub/matthew-woodard/8a/983/b10">LinkedIn Profile</a></li>
</ul>
</div>