<div class='hero-unit'>
  <h1>Welcome</h1>
  <p>You have found the internet dwelling place of Matthew Woodard, Web Designer.  Thanks for visiting and feel free to stop by any time.</p>
  <p>
    <a class='btn-primary btn-large' href='#about'>See What I Can Offer</a>
  </p>
</div>