<div id='navbar' class='navbar navbar-inverse navbar-fixed-top'>
  <div class='navbar-inner' >
    <div class='container' >
	  <a class='bn btn-navbar' data-toggle='collapse' data-target='.nav-collapse' >
	    <span class='icon-bar'></span>
		<span class='icon-bar'></span>
		<span class='icon-bar'></span>
	  </a>
	  <a class='brand' href='#'>mw</a>
	  <div class='nav-collapse collapse'>
	    <ul class='nav'>
		  <li id='home' class='nav-button'> <a href='#'> Home </a> </li>
		  <li id='about' class='nav-button'> <a href='#about'> About Me </a> </li>
		  <li id='games' class='dropdown nav-button'>
		    <a class='dropdown-toggle' data-toggle='dropdown'>
			  Games
			  <b class='caret'></b>
			</a>
			<ul class='dropdown-menu'>
			  <a href='#snakes'> Snake </a>
			  <a href='#asteroids'> Asteroids </a>
			  <a href='#gravity'> Gravity </a>
			</ul>
		  </li>
		  <li id='projects' class='nav-button'> <a href='#projects'> Projects </a> </li>
		  <li id='resume' class='nav-button'> <a href='#resume'> My Resume </a> </li>
		  <li id='contact' class='nav-button'> <a href='#contact'> Contact Me </a> </li>
		</ul>
	  </div>
	</div>
  </div>
</div>