<div class='hero-unit'>
<a href='http://thepokernode.herokuapp.com'>The Poker Node: </a>
<p>A poker and chat room built with Node.js.  Users can create and join their own rooms and play poker within.  Backend 
evaluates hands and determines winners, awarding them the pot.  Fully functioning, though animations, user database, and poker bots are all in development currently.<a href='https://github.com/Madmat418/poker'>See the code on Github<a></p>
</div>
<div class='hero-unit'>
<a href='http://kickstarterclone.herokuapp.com'>Kickstarter Clone: </a>
<p>A clone of the website Kickstarter.  Main challenge was to enable the 
Project Creation form to be able to also create multiple reward levels and relate them back to the Project being created,
all while not saving anything to the database until the Create Project button is pushed, at which point all of them are saved to the
database simultaneously.  Still in progress. <a href='https://github.com/Madmat418/kickstarterclone'>See the code on Github<a></p>
</div>
<div class='hero-unit'>
<a href='https://github.com/Madmat418/Gravity'>Orbital Simulator:</a>
<p>A javascript orbital simulation, using the HTML5's Canvas.  Users may give initial velocity to orbiting body.  Currently a bare bones simulation, but I am planning on creating a game around this engine.</p>
</div>
<div class='hero-unit'>
<a href='https://github.com/Madmat418/RailsLite'>Rails Lite</a> and <a href='https://github.com/Madmat418/ActiveRecordLite'>Active Record Lite: </a>
<p>A self implemented lite version of Rails, programmed entirely in Ruby.  Replicated the Rails actions of controllers, 
parameters, and the session token.  Replicated the Active Record abilites of mass assignment, the accessible macro, and establshing relationships</p>
</div>
<br>
<div class='hero-unit'>
<a href='#snakes'>Snake:</a>
<p>Originally a pure Javascript implementation of the classic game.  Using jQuery and dom manipulation to run. Now converted to run through Backbone.js.</p>
</div>
<br>
<div class='hero-unit'>
<a href='https://github.com/Madmat418/minesweeper'>Minesweeper:</a>
<p>A ruby implementation of the classic game.  In the process of being converted to JavaScript</p>
</div>
<br>
<div class='hero-unit'>
<a href='https://github.com/Madmat418/Portfolio'>This site:</a>
<p>This site was created almost entirely by myself using Ruby on Rails and Backbone.js.  
I imported a template called Parallax606 with Bootstrap, which is the only portion of this site which was not programmed by myself.</p>
</div>
