<div>
<h4>My apologies, asteroids is still being converted fully into Backbone.  Check back later to play.  Until then, enjoy Snake</h4>
<canvas width="800" height="600" id="canvas">
</canvas>
</div>
